<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Books & Authors</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style_view.css' %}" />
        <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    </head>
    <body>
        {% include "nav.html" %}
        <div class="boxes">
            <h1>{{book.title}}</h1>
            <br />
            <h3>ID: {{book.id}}</h3>
            <br />
            <h3>Description:</h3>
            <br />
            <p>{{book.desc}}</p>
            <br /><br />
            <h3>Authors</h3>
            <br />
            <ul>
                {% for book in book_authors %}
                <li>{{ book.first_name }} {{book.last_name}}</li>
                {% endfor %}
            </ul>
            <br />
            <form action="/add_author_to_book/{{book.id}}" method="POST">
                <select name="author">
                    {% for author in authors %}
                    <option value="{{ author.id }}">
                        {{ author.first_name }} {{author.last_name}}
                    </option>
                    {% endfor %}
                </select>
                {% csrf_token %}
                <button type="submit">Add</button>
            </form>
        </div>
    </body>
</html>
