* {
    margin: 0, auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    text-align: center;
    margin: 50px auto;
    width: 25%;
    padding: 30px;
}

.button {
    height: 30px;
    width: 70px;
    background-color: lightcoral;
    border-radius: 8px;
}