* {
    margin: 0, auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 20px;
    margin: 50px auto;
    width: 25%;
    background-color: white;
    padding: 30px;
}

.bottom{
    height: 50px;
    width: 245px;
}

.box2 {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 20px;
    margin: 50px auto;
    width: 25%;
    background-color: white;
    padding: 30px;
}