*{
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boxes{
    padding: 20px;
    margin: 10px 250px;
    width: 70%;
    padding: 50px;
}