<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Job</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>
<body>
    <div class="boxes">
        <div class="box1">
        <h2>Hello {{ user.first_name }}! Let's edit your job!</h2>
        <br />
        </div>
        <div class="box2">
        <a class="logout" href="/logout" method="post">Logout</a>
        </div>
    </div>
    <div class="line"></div>
    <br />
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="boxes">
        <div class="box1">
        {% csrf_token %}
            <div class="job_box">
                <form action="/update/{{ job.id }}" method="post">
                {% csrf_token %}
                    <div class="border">
                        <table>
                            <tr>
                                <td>
                                    Title:
                                </td>
                                <td>
                                    <input type="text" name="title" value="{{ job.title }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Description:
                                </td>
                                <td>
                                    <input type="text" name="description" value="{{ job.description }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Location:
                                </td>
                                <td>
                                    <input type="text" name="location" value="{{ job.location }}">
                                </td>
                            </tr>
                        </table>
                </div>
                <div class="buttons_add"><button type="submit">Submit</button>
                </form>
                <form action="/cancel" method=post>
                {% csrf_token %}
                <button type="submit">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>