<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handy Helper Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>
<body>
    <div class="boxes">
        <div class="box1">
            <h2>Hello {{ user.first_name }}!</h2><br>
        </div>
        <div class="box2">
            <a class="logout" href="/logout" method=post>Logout</a>
            <form action="/add_job" method="post">
                {% csrf_token %}
                <button type="submit">New Job!</button>
            </form>
        </div>
    </div>
    <div class="line"></div><br>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li class="messages" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="boxes">
        <div class="box1"><h3>Everyone's Jobs:</h3><br>
        <table class="job_table">
            <tr>
                <th>
                    Job
                </th>
                <th>
                    Location
                </th>
                <th>
                    Actions
                </th>
            </tr>
            {% for job in jobs %}
            <tr>
                <td>
                    {{ job.title }}
                </td>
                <td>
                    {{ job.location }}
                </td>
                <td>
                    <a href="/view/{{ job.id }}">View</a> |
                    {% if user == job.uploaded_by %}
                    <a href="/remove/{{ job.id }}">Remove</a> |
                    <a href="/edit/{{ job.id }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
</body>
</html>