<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Job</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>
<body>
    <div class="boxes">
        <div class="box1">
            <h2>Hello {{ user.first_name }}! These are the job details!</h2><br>
        </div>
        <div class="box2">
            <a class="logout" href="/logout" method=post>Logout</a><br><br>
            <a class="logout" href="/success" method=post>Dashboard</a>
        </div>
    </div>
    <div class="line"></div><br>
        <div class="boxes">
            <div class="box1">
            <h3>{{ job.title }}</h3>
                <div class="border">
                    <p>{{ job.description }}</p><br>
                    <p>Location : {{ job.location }}</p><br>
                    <p>Posted by: {{ job.uploaded_by.first_name }}</p><br>
                    <p>Posted on: {{ job.created_at }}</p>
                </div>
            </div>
        </div>
</body>
</html>
